/* DOM */
body {
  padding: 0;
  margin: 0;
  color: white;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
}

section {
	position: absolute;
	
	top:0;
	height: 100vh;
	width: 100vw;
	z-index: 1;	
	overflow: hidden;
	background-color: black; 
  	background-image: radial-gradient(rgba(80,80,80,1), rgba(40,40,40,1), rgba(20,20,20,1), rgba(10,10,10,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1), rgba(0,0,0,1)); 
}

h1,h2,h3,h4,h5,h6 {
	text-align: center;
	border-bottom: 1px solid black;
	padding: 5px 0;
	background-color: rgba(160,160,160,.9);
	margin: 0 2px;
	text-shadow: 1px 2px 1px rgba(0,0,0,0.5);
	color:rgba(220,220,220,1);

}
h6 {

}
a {
	color: grey;
}
a::visted {
	color: grey;
}
footer {
	position: absolute;
	background-color: transparent;
	bottom:0;
	right:0;
	width:100vw;
	line-height: 30px;
	color: rgba(150,150,150,.7);
	font-size: 2vh;
	z-index: 1;
	text-align: center; 
}

::selection { 
	color:rgba(220,220,220,1);
}

::-webkit-scrollbar {
  width: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(160,160,160,.9);

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(160,160,160,.9);
}

/* CLASS */
.navs {
	position: fixed;
	background-color: rgba(0,0,0,0);
	top:0vh;
	line-height:100vh;
	width:5vw;
	text-align: center;
	font-size: 2.5vw;
	cursor: pointer;
	z-index: 5;
	color:rgba(220,220,220,1);
}

.navs_locked {
	position: fixed;
	background-color: rgba(255,255,255,0);
	top:10vh;
	line-height:80vh;
	width:2.5vw;
	font-size: 2.5vw;
	text-align: center;
    opacity: 0;
	z-index: 5;
}

.navs:hover {
	background-color: rgba(215,215,215,.3);
}

.page_full {
	left:0;
	box-shadow: 0 0 250px inset black, 0 0 250px inset black, 0 0 250px inset black, 0 0 250px inset black, 0 0 250px inset black;
}

.page_right {
	left:200vw;
}

.page_left {
	left:-200vw;
}

.gplPage {
	z-index: 9;
	background-color: black;
	position: fixed;
	width: -webkit-fill-available;
	height: 100vh;
	top:200vh;
}
.gplPage_full {
	z-index: 9;
	background-color: black;
	position: fixed;
	width: -webkit-fill-available;
	line-height: 100vh;
	top:0;
}
/* ID */

#navL {
	left:0;
}

#navR {
	right:0;
}

#page0 {
	background-image: url("../assets/blo.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#page1 {
	background-image: url("../assets/mic.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#page2 {
	background-image: url("../assets/extras.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#page3 {
	background-image: url("../assets/beers.jpg");
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center;
}

#leftPanel {
	height: 80vh;
	width: 41vw;
	float: left;
	margin: 10vh 0 0 6vw;

}

#leftPanel p, #rightTopPanel p, #rightMiddlePanel p, #rightBottomPanel p {
	background-color: rgba(255,255,255,.1);
    width: -webkit-fill-available;
    line-height: 50px;
    padding: 4px;
    margin: 2px;
    cursor: pointer;
    display: -webkit-inline-box;
    text-indent: 10px;
}
#leftPanel div div, #rightTopPanel div div, #rightMiddlePanel div div, #rightBottomPanel  div div {
	background-color: rgba(255,255,255,0);
    width: -webkit-fill-available;
    line-height: 2vh;
    font-size: 2vh;
    padding: 4px;
    margin: 2px;
    display: flex;
    text-align: center;
}

#leftPanel div div span, #rightTopPanel div div span, #rightMiddlePanel div div span, #rightBottomPanel  div div span {
	background-color: rgba(255,255,255,0);
    width: 50%;
    line-height: 2vh;
    font-size: 2vh;
    padding: 0;
    margin: 0;
    display: flex;
}
/* MULTI STACK */

#leftPanel p:hover, #rightTopPanel p:hover, #rightMiddlePanel p:hover, #rightBottomPanel p:hover {
	background-color: rgba(255,255,255,.8);
	color:rgba(10,10,10,1);
}

#leftPanel,#rightTopPanel,#rightMiddlePanel,#rightBottomPanel {
	background-color: rgba(10,10,10,0);
	overflow-y: auto;
}

#rightTopPanel,#rightMiddlePanel,#rightBottomPanel {
	width:41vw;
	height: 20vh;
	float: right;
	margin:10vh 6vw 0 0;
}

.page_full,.page_right,.page_left {
	position: absolute;
	background-color: transparent;
	top:0;
	width: 100vw;
	height: 100vh;
	z-index: 2;
}

.page_full,.page_right,.page_left,.gplPage,.gplPage_full {
	transition: 666ms all ease-in-out;
	transition-delay: 1ms;
}

#page0 div {
}

.navs_locked,h1,h2,h3,h4,h5,h6,footer,div{
	cursor:default;
}
/* MEDIA QUERY */

/* phones, 600px & > */
@media only screen and (max-width: 600px) {

}

/* tablets(portrait), phones, 600px & < */
@media only screen and (min-width: 600px) {

}

/* tablets(landscape), 768px & <) */
@media only screen and (min-width: 768px) {

} 

/* laptops,desktops, 992px & < */
@media only screen and (min-width: 992px) {

} 

/* laptops,desktops, 1200px & <) */
@media only screen and (min-width: 1200px) {

}